@import "font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-justify-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-navbar {
  margin-left: 10px;
}

.margin-menu {
  margin-left: 30px;
}

.navbar {
  width: 100vw;
  min-width: 1032px;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 150px;
  height: 42px;
  position: fixed;
  top: 0;
}

.nav-container {
  height: 34px;
}

nav img {
  height: 100%;
}

.button {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #326891;
}

h3 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav-link:visited {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.margin-top-main {
  margin-top: 100px;
}

h1 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #121212;
}

.img-header {
  width: 1200px;
  margin: 20px auto;
}

.img-article {
  max-width: 100%;
}

figcaption {
  max-width: 900px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.quote {
  font-size: 12px;
  line-height: 18px;
  color: #888;
}
