@import "font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-justify-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-navbar {
  margin-left: 10px;
}

.margin-menu {
  margin-left: 30px;
}

.nyt-f {  
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
}

.nyt-i {  
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-style: normal;
}

.navbar {
  width: 100vw;
  min-width: 1032px;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 150px;
  height: 42px;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.nav-container {
  height: 34px;
}

nav img {
  height: 90%;
}

.button {
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #326891;
}

h1 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #121212;
}

.text-7-15-20 {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-link:visited {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.margin-top-main {
  margin-top: 100px;
}

.img-header {
  width: 1200px;
  margin: 20px auto;
}

.img-article {
  max-width: 100%;
}

figcaption {
  max-width: 900px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.quote {
  font-size: 12px;
  line-height: 18px;
  color: #888;
}

.plain-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.info {
  margin: 50px 0px 20px 0px;
  border-bottom: 1px solid #e2e2e2;
}

.sign-up {
  width: 85%;
  float: left;  
}

.sign-up-button-container {
  width: 15%;
  float: right;  
}

.sign-up-button {
  margin: 0 auto;
  width: auto;
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #000;
  color: #fff;
}

.sign-up-tittle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.sign-up-text {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;  
}

.soft-black {
  color: #333;
}

.text-content {
  margin-top: 20px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.sign-up-container {
  height: 50px;
}

p {
  margin: 15px 0;
}